* {
  background: #f3f5fc;
  font-family: Inter;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
}


.logo {
  padding-top: 10px;
  margin-left: 10px;
  width: 10%;
}

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 80px;
}

.text-area {
  border: none;
  color: #0a3871;
  margin-top: 90px;
  margin-left: 90px;
  text-transform: lowercase;

}

::placeholder {
  color: #0a3871;
}

.text-area:focus {
  outline: none;
}

.mensaje {
  background: white;
  background-image: url(imagenes/Muneco.png); 
  background-repeat: no-repeat;
  background-position-y: 190px;
  border: none;
  border-radius: 24px;
  color: #0a3871;
  margin-left: 98px;
  margin-top: -65px;
  padding-left: 20px;
  position: fixed;
}

.mensaje:focus {
  outline: none;
}

.imagen-info {
  background-color: white;
  margin-top: 450px;
  position: fixed;
  margin-left: 120px;
}

.info-contenedor{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.botones {
  display: flex;
  margin-top: -25px;
  margin-left: 90px;
}

.btn-desencriptar {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  width: 328px;
}

.btn-copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 125px;
  margin-top: 680px;
  position: absolute;
  width: 336px;
}

.informacion {
  color: #495057;
  font-size: 16px;
  margin-left: 10px;  
}


.icono-alert{
  margin-left: 90px;
  
}